# Files pack
*.jar
*.zip
*.war
*.nar
*.ear
*.tar.gz

# classes
*.class

*.DS_Store
*.classpath
*.project

# Virtual
nbproject/private/
build/
nbbuild/
dist/
nbdist/
DB/
tarjet/
nbactions.xml
nb-configuration.xml

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/